<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/icon/xicon-softexpert-site.png.pagespeed.ic.HSOxKuxhMf.webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="demo_products.css">
    <title>Software for Human Development Management - HDM | SoftExpert</title>
</head>
<body>
    <div class="content_grid_template">

        <div class="description_of_softexpert_bpm">
            <div id="demo_softexpert_img"><img src="images/hdm/xframework-hdm-2.png.pagespeed.ic.qhN4sn4Q1I.png" alt="bpm_img"></div>
            <div id="solution_title"><h1>Competencies</h1></div>
            <div id="solution_description"><p><strong><u>SoftExpert HDM</u></strong>  improves organizational and individual talent with a broader understanding of technical and behavioral competencies, skills and gaps to address them with targeted development plans. The software offers an effective way to perform employee performance appraisals, and helps managers at all levels of the organization to plan, budget and control training activities linked with competency gaps.</p></div>

            <button class="btn-header1 toggle-bt-apresentacao">
                <i class="icone-solucao-solicite-apresentacao"></i>
                <span class="span-btn-header">Request a Live Demo</span>
            </button>

        </div>
        
    <div class="slides_of_softexpert_bpm">
        <div id="slidebox"><a href="../slides/hdm/competency-mapping.html"><img src="images/hdm/2.0_1366_1-Competency-mapping-300x169.png" alt=""></a><p>Competency mapping</p></div>
        <div id="slidebox"><a href="../slides/hdm/employee-profile.html"><img src="images/hdm/2.0_1366_2-Employee-profile-300x169.png" alt=""></a><p>employee profile</p></div>
        <div id="slidebox"><a href="../slides/hdm/performance-evaluation.html"><img src="images/hdm/2.0_1366_3-Performance-evaluation-300x169.png" alt=""></a><p>Performance evaluation</p></div>
        <div id="slidebox"><a href="../slides/hdm/9-box-matrix.html"><img src="images/hdm/2.0_1366_4-9-Box-Matrix-300x169.png" alt=""></a><p>9 Box Matrix</p></div>
        <div id="slidebox"><a href="../slides/hdm/talent-bank.html"><img src="images/hdm/2.0_1366_5-Talent-bank-300x169.webp" alt=""></a><p>Talent Bank</p></div>
        <div id="slidebox"><a href="../slides/hdm/qualification-status.html"><img src="images/hdm/2.0_1366_6-Qualification-status-300x169.webp" alt=""></a><p>Qualification status</p></div>
        <div id="slidebox"><a href="../slides/hdm/training-records.html"><img src="images/hdm/2.0_1366_7-Training-records-300x169.webp" alt=""></a><p>Training records</p></div>
        <div id="slidebox"><a href="../slides/hdm/training-schedule.html"><img src="images/hdm/2.0_1366_8-Training-schedule-300x169.webp" alt=""></a><p>Training schedule</p></div>
    </div>



    </div>
</body>
</html>
