<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/icon/xicon-softexpert-site.png.pagespeed.ic.HSOxKuxhMf.webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="demo_products.css">
    <title>Software for Project and Portfolio Management - PPM | SoftExpert</title>
</head>
<body>
    <div class="content_grid_template">

        <div class="description_of_softexpert_bpm">
            <div id="demo_softexpert_img"><img src="images/ppm/xframework-ppm-2.png.pagespeed.ic.ZcVQEXd6cu.webp" alt="esm_img"></div>
            <div id="solution_title"><h1>Projects</h1></div>
            <div id="solution_description"><p><strong><u>SoftExpert PPM</u></strong> unifies project and portfolio management to help organizations align resources and investments with business priorities, gain control across all types of work, and visualize performance using powerful dashboards. The software empowers project managers to plan the work, assign resources, track and control project progress, and communicate to stakeholders, while streamlining collaborative project execution across cross-functional teams.</p></div>

            <button class="btn-header1 toggle-bt-apresentacao">
                <i class="icone-solucao-solicite-apresentacao"></i>
                <span class="span-btn-header">Request a Live Demo</span>
            </button>

        </div>
        
    <div class="slides_of_softexpert_bpm">
        <div id="slidebox"><a href="../slides/process-mapping.html"><img src="images/ppm/1-PPM-Demand-management-1-Demand-process-automation-THUMB-300x168.png" alt=""></a><p>Demand management</p></div>
        <div id="slidebox"><a href="../slides/process-modeling.html"><img src="images/ppm/2-PPM-Scope-and-time-management-8-MS-Project-integration-import-export-projects-300x168.png" alt=""></a><p>Scope and time management</p></div>
        <div id="slidebox"><a href="../slides/eletronic-form.html"><img src="images/ppm/3-PPM-Resource-management-1-Resource-scheduling-assistant-300x168.png" alt=""></a><p>Resource management</p></div>
        <div id="slidebox"><a href="../slides/rules-editor.html"><img src="images/ppm/4-PPM-Financial-management-1-Costs-by-activity-300x168.png" alt=""></a><p>Financial management</p></div>
        <div id="slidebox"><a href="../slides/process publication.html"><img src="images/ppm/5-PPM-Quality-management-1-Checklists-application-300x168.png" alt=""></a><p>Quality management</p></div>
        <div id="slidebox"><a href="../slides/automation-and-execution.html"><img src="images/ppm/6-PPM-Program-and-portfolio-management-1-Consolidated-portfolio-view-300x168.png" alt=""></a><p>Program and portfolio management</p></div>
        <div id="slidebox"><a href="../slides/process-control.html"><img src="images/ppm/7-PPM-Risk-management-1-Project-risks-THUMB-300x168.png" alt=""></a><p>Risk management</p></div>
        <div id="slidebox"><img src="images/ppm/8-PPM-Change-management-1-Change-request-record-300x168.png" alt=""><p>Change management</p></div>
        <div id="slidebox"><img src="images/ppm/9-PPM-Performance-management-1-Status-report-THUMB-300x168.png" alt=""><p>Performance management</p></div>
    </div>



    </div>
</body>
</html>
