<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/icon/xicon-softexpert-site.png.pagespeed.ic.HSOxKuxhMf.webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="demo_products.css">
    <title>Software for Corporate Performance Management - CPM | SoftExpert</title>
</head>
<body>
    <div class="content_grid_template">

        <div class="description_of_softexpert_bpm">
            <div id="demo_softexpert_img"><img src="images/cpm/xframework-cpm-2.png.pagespeed.ic._gxBW6YFwh.png" alt="esm_img"></div>
            <div id="solution_title"><h1>Performance</h1></div>
            <div id="solution_description"><p><strong><u>SoftExpert CPM</u></strong> allows organizations to align strategic and business objectives with day-to-day operational performance indicators, by integrating all organizational levels through best practice approaches like Balanced Scorecard. The software offers a complete range of planning, execution, monitoring and reporting capabilities in a collaborative environment, leading to better decision making and improved business performance across the organization.</p></div>

            <button class="btn-header1 toggle-bt-apresentacao">
                <i class="icone-solucao-solicite-apresentacao"></i>
                <span class="span-btn-header">Request a Live Demo</span>
            </button>

        </div>
        
    <div class="slides_of_softexpert_bpm">
        <div id="slidebox"><a href="../slides/process-mapping.html"><img src="images/cpm/1-CPM-Strategic-management-1-SWOT-matrix-300x168.png" alt=""></a><p>Strategic management</p></div>
        <div id="slidebox"><a href="../slides/process-modeling.html"><img src="images/cpm/2-CPM-Operational-management-1-Corporate-catalog-of-indicators-THUMB-1-300x168.png" alt=""></a><p>Operational management</p></div>
        <div id="slidebox"><a href="../slides/eletronic-form.html"><img src="images/cpm/3-CPM-Financial-management-1-Financial-indicator-structure-300x168.png" alt=""></a><p>Financial management</p></div>
        <div id="slidebox"><a href="../slides/rules-editor.html"><img src="images/cpm/4-CPM-Initiative-management-1-Deploying-goals-and-targets-into-projects-300x168.png" alt=""></a><p>Initiative management</p></div>
        <div id="slidebox"><a href="../slides/process publication.html"><img src="images/cpm/5-CPM-Measurement-of-indicators-1-Control-of-measurement-tasks-300x168.png" alt=""></a><p>Measurement of indicators</p></div>
        <div id="slidebox"><a href="../slides/automation-and-execution.html"><img src="images/cpm/6-CPM-Performance-monitoring-1-Control-of-results-by-current-and-accumulated-period-THUMB-300x168.png" alt=""></a><p>Performance monitoring</p></div>
        <div id="slidebox"><a href="../slides/process-control.html"><img src="images/cpm/7-CPM-Deviations-and-corrective-actions-1-Automatic-detectors-of-performance-deviations-1-300x230.png" alt=""></a><p>Deviations and corrective actions</p></div>
        <div id="slidebox"><img src="images/cpm/8-CPM-Individual-performance-1-Individual-and-team-goal-control-300x168.png" alt=""><p>Individual performance</p></div>
        <div id="slidebox"><img src="images/cpm/9-CPM-Analytics-1-Data-source-configuration-300x168.png" alt=""><p>Analytics</p></div>
        <div id="slidebox"><img src="images/cpm/10-CPM-Portals-and-dashboards-1-Layout-definition-300x168.png" alt=""><p>Portals and dashboards</p></div>
    </div>



    </div>
</body>
</html>
