<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/icon/xicon-softexpert-site.png.pagespeed.ic.HSOxKuxhMf.webp">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="demo_products.css">
    <title>Software for Supplier Lifecycle Management - SLM | SoftExpert</title>
</head>
<body>
    <div class="content_grid_template">

        <div class="description_of_softexpert_bpm">
            <div id="demo_softexpert_img"><img src="images/slm/xFramework-SLM-ENG.png.pagespeed.ic.gjq6suRLqe.webp" alt="esm_img"></div>
            <div id="solution_title"><h1>Supplier</h1></div>
            <div id="solution_description"><p><strong><u>SoftExpert SLM</u></strong> provides tools for an organization to manage suppliers throughout the lifecycle of a relationship. It provides a 360° view of the supply chain, allowing relationships to be tracked from initially discovering and qualifying a supplier to performance management, ongoing maintenance and supplier rationalization.</p></div>

            <button class="btn-header1 toggle-bt-apresentacao">
                <i class="icone-solucao-solicite-apresentacao"></i>
                <span class="span-btn-header">Request a Live Demo</span>
            </button>

        </div>
        
    <div class="slides_of_softexpert_bpm">
        <div id="slidebox"><a href="../slides/process-mapping.html"><img src="images/slm/Supplier-qualification-process-300x169.webp" alt=""></a><p>Onboarding and Qualification</p></div>
        <div id="slidebox"><a href="../slides/process-modeling.html"><img src="images/slm/Automated-contract-process-300x169.webp" alt=""></a><p>Contract Lifecycle</p></div>
        <div id="slidebox"><a href="../slides/eletronic-form.html"><img src="images/slm/Purchase-request-300x169.webp" alt=""></a><p>Request to Order</p></div>
        <div id="slidebox"><a href="../slides/rules-editor.html"><img src="images/slm/Image-batch-with-data-identification-for-OCR-300x169.webp" alt=""></a><p>Procure to pay</p></div>
        <div id="slidebox"><a href="../slides/process publication.html"><img src="images/slm/Supplier-quality-inspection-300x169.webp" alt=""></a><p>Supplier Quality Inspection</p></div>
        <div id="slidebox"><a href="../slides/automation-and-execution.html"><img src="images/slm/Supplier-nonconformarnce-form-300x169.webp" alt=""></a><p>Non-conformance and Action Plan</p></div>
        <div id="slidebox"><a href="../slides/process-control.html"><img src="images/slm/Supplier-risk-assessment-300x169.webp" alt=""></a><p>Risk and Compliance Management</p></div>
        <div id="slidebox"><img src="images/slm/Supplier-performance-management-300x169.webp" alt=""><p>Performance Management</p></div>
        <div id="slidebox"><img src="images/slm/Supplier-Information-Management-300x165.webp" alt=""><p>Supplier information Management</p></div>
    </div>



    </div>
</body>
</html>
